@import "~bootstrap/scss/bootstrap";
@import "./src/theme/_theme";
@import "./src/Shared.scss";

.authentication-screen-container {
    position: relative;
    top: 15%;
    margin-top: 20%;
}



.button-container {
    cursor: pointer;
    margin-left: 20px;
}
