@import "~bootstrap/scss/bootstrap";
@import './src/theme/_theme';

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

.header {
    font-family: 'Roboto', sans-serif;
    background-color: $theme-color;
    font-weight: 700;
    padding: 8px;
    width: 100vw;  
    z-index: 999;
    position: fixed;
    top: 0;  
    left: 0;  
    right: 0;  
     

    .header-nav {
        .navbar-brand {
            .navbar-logo {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }
}
