.button{
    background-color: $theme-color;
    color: #FFFFFF;
    border-radius: 8px;
     padding: 16px 0px;
    border-color: lighten($color:  $theme-color, $amount: 75);
}
.button-custom{
    margin: 10px 0;
    padding: 16px;
    width: 200px;
}
.card-header-h2 {
    background-color: $theme-color;
    color: #fff;
}